---
layout: default
---
<div class="post">
 
  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
           {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}

        {% if site.newsletter.enabled and site.footer_fixed %}
          {% include scripts/newsletter.liquid center=true %}
        {% endif %}

        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}
    
    <div>
      <h2><b>Jiajun He</b></h2>
      <p>
        PhD student in machine learning, <br>
        University of Cambridge. <a href="https://jiajunhe98.github.io/assets/pdf/JiajunHe_CV_academic.pdf"><i class="fas fa-file-pdf"></i>Curriculum Vitae</a>
      </p><br/><br/>
    </div>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    <div style="clear: both;"></div>
    <div class="clearfix">{{ content }}</div>

    



    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h4><strong>
      Representative Publications [<a href="{{ '/publications/' | relative_url }}" style="color: inherit">view more</a>]
      </strong></h4>
      {% include selected_papers.liquid %}
    {% endif %}


  </article>
</div>
